@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu&display=swap');

@font-face {
    font-family: "Zekton";
    src: url("../fonts/zekton.otf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1c1c1c;
}

body,
html {
    width: 100%;
    height: 100%;
}

canvas {
    user-select: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#game {
    display: flex;
    width: 100%;
    height: 100%;
}

.rotate-image-container {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

#rotate__image {
    width: 85%;
    max-width: 250px;
}
